* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  height: 100vh;
  position: relative;
}

.box {
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: blue;
  top: 50px;
  left: 0;
  transition: 0.25s;
}
